<div class="tooltip">
    <div id="SceneWrapper" class="engine-wrapper">
        <span class="tooltiptext">This 3d model was used in the game as a "pickup",
             The prototype had to be able to measure the reaction time of the player, and to do this, the batteries were used. 
             The negative pick-ups always spawn in the same lane as the player. 
            It was designed this way so reaction time from the pick-up spawning to the player changing lane could be measured." </span>
        <canvas id="renderCanvas"></canvas>
    </div>
</div>