
body {
    background-color: rgb(2, 3, 53);
}
 
#textBoxLeft {
    width: 40%;
 
} 
#BoxHeader{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50%;
    position: absolute;
    left: 45%;
    top: 5%;
    color: grey;
}

Em{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#ExpansionButton{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(35, 108, 150) !important;
}