<html>
<body>

<div id="header"><h1><em>Biomechanical symmetry</em></h1></div>
<div id="3dBox">
<app-engine></app-engine> <!--This runs the 3d typescript stuff. do not remove!-->
</div>
 <!--<app-ui></app-ui>-->
 <div id="textBoxLeft">
    <button class="collapsible">Open thing </button>
        <div  class="content">
            <P>
            This paper investigates whether a projected body and bike following biomechanical symmetry principles can increase presence in a virtual reality (VR) game. The VirZOOM bike was used as a controller and a game was designed for players to have avirtual body sitting on a bike, pedalling in sync with their real body. The game was evaluated with 35 participants, measuringresults with the Presence and Kennedy Simulator Sickness Questionnaires. In addition, reaction time was measured for everygame. Our analysis concluded that the way biomechanical symmetry was implemented didn’t affect simulator sickness, presence, or reaction time. 
            </P>
        </div>
</div>
<div id="BoxHeader">
    <h2> Rotate model to reveal more information </h2>
</div>

</body>
</html>