<html>

<body>

    <head>

    </head>
    <div id="wrapper">
    <div id="header">
        <h1><em>Biomechanical symmetry</em></h1>
    </div>
    <div id="3dBox">
        <app-engine></app-engine>
        <!--This runs the 3d typescript. do not remove!-->

    </div>
    <!--The div beneath contains the expandable menus to the left of the screen-->
    <div id="textBoxLeft">
        <mat-expansion-panel id=ExpansionButton>
            <mat-expansion-panel-header>
                <mat-panel-title id="ExpansionButton">
                    Project
                </mat-panel-title>
                <mat-panel-description id="ExpansionButton">
                    What is this project about?
                </mat-panel-description>
            </mat-expansion-panel-header>

            <p>This paper investigates whether a projected body and bike following biomechanical symmetry principles can increase presencein a virtual reality (VR) game. The VirZOOM bike was used as a controller and a game was designed for players to have
                a virtual body sitting on a bike, pedalling in sync with their real body. The game was evaluated with 35 participants, measuring results with the Presence and Kennedy Simulator Sickness Questionnaires. In addition, reaction time was measured
                for everygame. Our analysis concluded that the way biomechanical symmetry was implemented didn’t affect simulator sickness, presence, or reaction time.</p>

        </mat-expansion-panel>

        <mat-expansion-panel id="ExpansionButton">
            <mat-expansion-panel-header>
                <mat-panel-title id="ExpansionButton">
                    Authors
                </mat-panel-title>
                <mat-panel-description id="ExpansionButton">
                    Who wrote this project?
                </mat-panel-description>
            </mat-expansion-panel-header>

            <p>This proejct was written by six medialogy students for their 5th semester project on their bachelor. </p>
        </mat-expansion-panel>

    </div>
    <!--This div contains the header above the box with the model-->
    <div id="BoxHeader">
        <h2> Rotate model to reveal more information </h2>
    </div>
  </div>
</body>

</html>
